<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907851189600-mse0vf5akh5v2opj8n6d4f9nronbi18n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907851189600-mse0vf5akh5v2opj8n6d4f9nronbi18n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907851189600-m3jflgmmid8r17uofllp1n2idr33mpud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_YzhpJV2CzsQ1zgyOPEkTIXAsXmtC-MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>907851189600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geepytech.mekanikapp</string>
	<key>PROJECT_ID</key>
	<string>mekanik-33791</string>
	<key>STORAGE_BUCKET</key>
	<string>mekanik-33791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907851189600:ios:2574e9dcea800a1519a205</string>
</dict>
</plist>